[Unit]
Description=Nexus Repository Manager
After=network.target

[Service]
Type=forking
User=nexus
WorkingDirectory={{ app_dir }}/nexus
ExecStart={{ app_dir }}/nexus/bin/nexus start
ExecStop={{ app_dir }}/nexus/bin/nexus stop
Restart=on-abort
Environment=INSTALL4J_JAVA_HOME={{ app_dir }}/openjdk21
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
