[Unit]
Description=SonarQube service
After=syslog.target network.target postgresql.service

[Service]
Type=forking
Environment="SONAR_JAVA_PATH={{ app_dir }}/openjdk17/bin/java"
ExecStart={{ app_dir }}/sonarqube/bin/linux-x86-64/sonar.sh start
ExecStop={{ app_dir }}/sonarqube/bin/linux-x86-64/sonar.sh stop
User={{ sonarqube_user }}
Group={{ sonarqube_group }}
Restart=always
LimitNOFILE=131072
LimitNPROC=8192
TimeoutStartSec=5min

[Install]
WantedBy=multi-user.target
